<ion-header>
  <ion-toolbar>
    <ion-title>Calendar</ion-title>

    <ion-buttons slot="start">
      <ion-button expand="block" color="light" (click)="setToday()">
        Today
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/notifications">
        <ion-icon name="notifications-outline" color="light" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month"> Month </ion-segment-button>
    <ion-segment-button value="week"> Week </ion-segment-button>
    <ion-segment-button value="day"> Day </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="3" class="ion-align-items-center">
      <ion-button fill="clear" (click)="calendarBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <h2 class="ion-text-center">{{ viewTitle }}</h2>
    </ion-col>
    <ion-col size="3">
      <ion-button fill="clear" (click)="calendarNext()">
        <ion-icon name="arrow-forward-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar [eventSource]="eventSource" [autoSelect]="false" [calendarMode]="calendar.mode"
    (onTitleChanged)="viewTitle = $event" [startHour]="calendar.startHour" [endHour]="calendar.endHour"
    (onTimeSelected)="onTimeSelected($event)" (onEventSelected)="onEventSelected($event)"
    [monthviewDisplayEventTemplate]="template" [weekviewAllDayEventTemplate]="weekviewAllDayEventTemplate">
  </calendar>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="inputmodal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-modal #modal trigger="inputmodal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button class="ion-cancel-button" (click)="dismissModal()">
              Cancel
            </ion-button>
          </ion-buttons>
          <ion-title>New Event</ion-title>
          <ion-buttons slot="end">
            <ion-button class="ion-add-button" strong (click)="scheduleEvent()" [disabled]="!newEvent.title">
              Add
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding modal">
        <div class="group">
          <ion-input type="text" [(ngModel)]="newEvent.title" placeholder="Title" />
        </div>
        <div class="group">
          <!-- <ion-item>
            <ion-label>All-day</ion-label>
            <ion-toggle
              [(ngModel)]="newEvent.allDay"
              [disabled]="newEvent.startTime && newEvent.endTime"
            />
          </ion-item> -->

          <ion-item (click)="showStart =!showStart">
            <ion-label> Starts </ion-label>
            <ion-text slot="end">{{ formattedStart }}</ion-text>
          </ion-item>
          <ion-datetime #start *ngIf="showStart" [value]="newEvent.startTime"
            [presentation]="newEvent.allDay ? 'date' : 'time-date'"
            (ionChange)="startChanged(start.value)"></ion-datetime>

          <ion-item (click)="showEnd =!showEnd">
            <ion-label> Ends </ion-label>
            <ion-text slot="end">{{ formattedEnd }}</ion-text>
          </ion-item>
          <ion-datetime #end *ngIf="showEnd" [value]="newEvent.endTime"
            [presentation]="newEvent.allDay ? 'date' : 'time-date'" (ionChange)="endChanged(end.value)"></ion-datetime>
        </div>
        <div class="group">
          <ion-input type="text" [(ngModel)]="newEvent.description" placeholder="Description" />
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    {{ view.dates[row * 7 + col].label }}
    <div class="indicator-container">
      <div class="event-indicator" *ngFor="let event of view.dates[row * 7 + col].events"></div>
    </div>
  </ng-template>
  <ng-template #weekviewAllDayEventTemplate let-displayEvent="displayEvent">
    <div class="calendar-event-inner week-event">
      {{displayEvent.event.title}}
    </div>
  </ng-template>
</ion-content>