.event-date {
  text-align: center;
}

.event-time {
  display: flex;
  justify-content: space-around;
}

.event-start {
  margin-right: 10px;
}

.spacer {
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--ion-color-light-tint);
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}