// Ionic Variables and Theming. For more info, please see:
  // http://ionicframework.com/docs/theming/
  
  /** Ionic CSS Variables **/
  :root {
    
    --ion-color-header-bg: #FF03EE;
    --ion-color-header-font: #FFFFFF;
    --ion-color-footer-bg: #3BEBFF;
    --ion-color-footer-font: #F7FF0F;
    
  
    /** primary **/
    --ion-color-primary: #FF0000;
    --ion-color-primary-rgb: 255, 0, 0;
  
    /** secondary **/
    --ion-color-secondary: #FF8812;
    --ion-color-secondary-rgb: 255, 136, 18;
  
    /** tertiary **/
    --ion-color-tertiary: #F7FF19;
    --ion-color-tertiary-rgb: 247, 255, 25;
  
    /** success **/
    --ion-color-success: #2FD36F;
    --ion-color-success-rgb: 47, 211, 111;
  
    /** warning **/
    --ion-color-warning: #FDC40C;
    --ion-color-warning-rgb: 253, 196, 12;
  
    /** danger **/
    --ion-color-danger: #EC445A;
    --ion-color-danger-rgb: 236, 68, 90;
  
    /** light **/
    --ion-color-light:#F0F0F0;
    --ion-color-light-rgb: 240, 240, 240;
    --ion-color-light-contrast: #080808;
    --ion-color-light-contrast-rgb: 8, 8, 8;
    --ion-color-light-tint: #F9F9FC;
  
    /** medium **/
    --ion-color-medium: #D4D4D4;
    --ion-color-medium-rgb: 212, 212, 212;
    --ion-color-medium-shade: #707070;
    --ion-color-medium-tint: #BEC6C8;
  
    /** dark **/
    --ion-color-dark: #707070;
    --ion-color-dark-rgb: 112, 112, 112;
    --ion-color-dark-contrast: #37FF0F;
    --ion-color-dark-contrast-rgb: 55, 255, 15;
      
    --ion-color-step-50: #f3f3f3;
    --ion-color-step-100: #e7e7e7;
    --ion-color-step-150: #dbdbdb;
    --ion-color-step-200: #d0d0d0;
    --ion-color-step-250: #c4c4c4;
    --ion-color-step-300: #b8b8b8;
    --ion-color-step-350: #acacac;
    --ion-color-step-400: #a0a0a0;
    --ion-color-step-450: #949494;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #7d7d7d;
    --ion-color-step-600: #717171;
    --ion-color-step-650: #656565;
    --ion-color-step-700: #595959;
    --ion-color-step-750: #4d4d4d;
    --ion-color-step-800: #414141;
    --ion-color-step-850: #363636;
    --ion-color-step-900: #2a2a2a;
    --ion-color-step-950: #1e1e1e;
  
  }
  
  @media (prefers-color-scheme: dark) {
    /*
     * Dark Colors
     * -------------------------------------------
     */
  
    body {

      --ion-color-header-bg: #FF03EE;
      --ion-color-header-font: #FFFFFF;
      --ion-color-footer-bg: #3BEBFF;
      --ion-color-footer-font: #F7FF0F;
  
      --ion-color-primary: #FF0000;
      --ion-color-primary-rgb: 255, 0, 0;
  
      --ion-color-secondary: #FF8812;
      --ion-color-secondary-rgb: 255, 136, 18;
  
      --ion-color-tertiary: #F7FF19;
      --ion-color-tertiary-rgb: 247, 255, 25;
  
      --ion-color-success: #2FD36F;
      --ion-color-success-rgb: 47, 211, 111;
  
      --ion-color-warning: #FDC40C;
      --ion-color-warning-rgb: 253, 196, 12;
  
      --ion-color-danger: #EC445A;
      --ion-color-danger-rgb: 236, 68, 90;
  
      --ion-color-light: #F0F0F0;
      --ion-color-light-rgb: 240, 240, 240;
      --ion-color-light-contrast: #080808;
      --ion-color-light-contrast-rgb: 8, 8, 8;
      --ion-color-light-tint: #F9F9FC;
  
      --ion-color-medium: #D4D4D4;
      --ion-color-medium-rgb: 212, 212, 212;
      --ion-color-medium-shade: #707070;
      --ion-color-medium-tint: #BEC6C8;
  
      --ion-color-dark: #707070;
      --ion-color-dark-rgb: 112, 112, 112;
      --ion-color-dark-contrast: #37FF0F;
      --ion-color-dark-contrast-rgb: 55, 255, 15;
  
      --ion-color-step-50: #f3f3f3;
      --ion-color-step-100: #e7e7e7;
      --ion-color-step-150: #dbdbdb;
      --ion-color-step-200: #d0d0d0;
      --ion-color-step-250: #c4c4c4;
      --ion-color-step-300: #b8b8b8;
      --ion-color-step-350: #acacac;
      --ion-color-step-400: #a0a0a0;
      --ion-color-step-450: #949494;
      --ion-color-step-500: #898989;
      --ion-color-step-550: #7d7d7d;
      --ion-color-step-600: #717171;
      --ion-color-step-650: #656565;
      --ion-color-step-700: #595959;
      --ion-color-step-750: #4d4d4d;
      --ion-color-step-800: #414141;
      --ion-color-step-850: #363636;
      --ion-color-step-900: #2a2a2a;
      --ion-color-step-950: #1e1e1e;
    }
  
    /*
     * iOS Dark Theme
     * -------------------------------------------
     */
  
    .ios body {

    --ion-color-header-bg: #FF03EE;
    --ion-color-header-font: #FFFFFF;
    --ion-color-footer-bg: #3BEBFF;
    --ion-color-footer-font: #F7FF0F;
  
    --ion-color-step-50: #f3f3f3;
    --ion-color-step-100: #e7e7e7;
    --ion-color-step-150: #dbdbdb;
    --ion-color-step-200: #d0d0d0;
    --ion-color-step-250: #c4c4c4;
    --ion-color-step-300: #b8b8b8;
    --ion-color-step-350: #acacac;
    --ion-color-step-400: #a0a0a0;
    --ion-color-step-450: #949494;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #7d7d7d;
    --ion-color-step-600: #717171;
    --ion-color-step-650: #656565;
    --ion-color-step-700: #595959;
    --ion-color-step-750: #4d4d4d;
    --ion-color-step-800: #414141;
    --ion-color-step-850: #363636;
    --ion-color-step-900: #2a2a2a;
    --ion-color-step-950: #1e1e1e;

    }
  
    .ios ion-modal {

      --ion-color-header-bg: #FF03EE;
      --ion-color-header-font: #FFFFFF;
      --ion-color-footer-bg: #3BEBFF;
      --ion-color-footer-font: #F7FF0F;
    }
  
  
    /*
     * Material Design Dark Theme
     * -------------------------------------------
     */
  
    .md body {
      
      --ion-color-header-bg: #FF03EE;
      --ion-color-header-font: #FFFFFF;
      --ion-color-footer-bg: #3BEBFF;
      --ion-color-footer-font: #F7FF0F;
  
      --ion-color-step-50: #f3f3f3;
      --ion-color-step-100: #e7e7e7;
      --ion-color-step-150: #dbdbdb;
      --ion-color-step-200: #d0d0d0;
      --ion-color-step-250: #c4c4c4;
      --ion-color-step-300: #b8b8b8;
      --ion-color-step-350: #acacac;
      --ion-color-step-400: #a0a0a0;
      --ion-color-step-450: #949494;
      --ion-color-step-500: #898989;
      --ion-color-step-550: #7d7d7d;
      --ion-color-step-600: #717171;
      --ion-color-step-650: #656565;
      --ion-color-step-700: #595959;
      --ion-color-step-750: #4d4d4d;
      --ion-color-step-800: #414141;
      --ion-color-step-850: #363636;
      --ion-color-step-900: #2a2a2a;
      --ion-color-step-950: #1e1e1e;
  
    }
  }
  